*{
    margin :0;
    padding: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    /* background-color: rgb(53, 49, 49); */
}
header{
    height : 90px;
    /* background : #2f3640; */
    background : #e6dede;
}
headerhw2{
    height : 90px;
    /* background : #2f3640; */
    background : #e6dede;
}
.inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    /* background : #7d8693; */
    background : #e6dede;
}
.inner-widthhw2{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    /* background : #7d8693; */
    background : #e6dede;
}
.inner-width img{
    transform-origin: 100% 100%;
    float: left;
    padding-top: 10%;
    height : 90px;
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    /* background : #7d8693; */
    background : #e6dede;
}
.img{
    width: 1300px;
    height: 1100px;
    align-items: center;
    padding-left: 7%;
}
.inner-width_sources{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
    /* background : #7d8693; */
    background : #e6dede;
    float : left
}
.navigation{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    /* background : #2f3640; */
    background : #e6dede;
}
.navigation_sources{
    float: left;
    display: flex;
    align-items: center;
    min-height: 90px;
    /* background : #2f3640; */
    background : #e6dede;
    padding-left: none;
}
.header_sources{
    background : #e6dede;
    color : white;
}
.navigation a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    background : #2f3640;
}
.navigation_sources a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    background : #2f3640;
}
.navigation a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1)
}
.navigation_sources a:hover{
    background: #fff;
    color: blue;
    transform: scale(1.1)
}
.about{
    width: 100%;
    padding : 78px 0px;
    /* background-color: #191919; */
    background-color: rgb(53, 49, 49);
}
.about img{
    height : 520px;
    width : 400px;
    float: left;
}
.about-text{
    width : 550px;
}
.main{
    /* width : 1130px; */
    max-width: 100%;
    /* margin : 0 auto; */
    display : flex;
    /* align-items : center; */
    justify-content: space-around;
}
.main_visualization{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
.main_svg{
    max-width: 100%;
    background-color: rgb(53, 49, 49);
}
.about-text h1{
    color: rgb(236, 218, 218);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-top: none;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p{
    color: rgb(236, 218, 218);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18x;
    margin-bottom: 45px;
}
.visualization, .sources{
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    background-color: rgb(53, 49, 49);
}
.visualization img{
    height : 750px;
    width : 750px;
    float: left;
}


.visualization-text, .svg_h1{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    color: rgb(236, 218, 218);
}
.svg_h3{
    padding-left: 40%;
    padding-right: 5%;
    padding-top: 3%;
    color: rgb(236, 218, 218);
}
.visualization-text h1{
    font-size: 50px;
    text-transform: capitalize;
    
}
.visualization-text p{
    padding-top: 5%;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18x;
    
}
.sources, .svg{
    color: rgb(236, 218, 218);
    padding-top: 2%;
    align-items: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
li{
    font-size: 20px;
}
.row {
    display: flex;
    border-style: solid;
    width: 100%;
    height : 100px;
  }
  
.column {
    flex: 50%;
    border-style: solid;
  }
.table{
    display: grid;
    border: #191919;
}
.svg_shapes, .row_svge{
    padding-top: 1%;
    padding-left: 5%;
    animation: rotate 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    }

@keyframes rotate {
    from{
        transform: rotatey(30)
    }
    to{
        transform: rotatex(360deg);
    }
}
.about_svg{
    width: 100%;
    padding : 10% 5%;
    background-color: rgb(53, 49, 49);
}
.main_svg{
    width : 1350px;
    max-width: 95%;
    margin : 0 auto;
    display : flex;
    align-items : center;
    justify-content: space-around;
}
.row_svg {
    padding-top: 8%;
    display: flex;
    width: 100%;
    
  }
  .column_svg {
    flex: 50%;
  }
  /* .svg_shapes:hover{
    display : none
  } */
  .about_source{
    width: 100%;
    padding : 78px 0px;
    /* background-color: #191919; */
}
.main_source{
    width : 1130px;
    max-width: 95%;
    margin : 0 auto;
    display : flex;
    align-items : center;
    justify-content: space-around;
}
.source_links a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
    background : #2f3640;
}
/* svg{
    background-color: white;
} */
.about{
    color: white;
}
.imgbh{
    padding: 5%;
    width: 20px;
    height: 20px;
    padding-left: 20%;
    padding-top: 2%;
}
.hw2{
    background-color: white;
    color: white;
}


  